/* Cloud */

.cloud, .cloud:before, .cloud:after {
  position: absolute;
  width: 150px;
  height: 90px;
  background: #fff;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100x / 50px;
}

.cloud { 
  top: 100px;
  -webkit-animation: cloud 60s infinite linear;
          animation: cloud 60s infinite linear;
 
}

.cloud:nth-child(3n) { 
  top: 250px;
  -webkit-animation: cloud 45s infinite linear;
          animation: cloud 45s infinite linear;
 
}

@-webkit-keyframes cloud {
    0%   { left: -100px; }
    100% { left: 3000px; } 
}

@keyframes cloud {
    0%   { left: -100px; }
    100% { left: 3000px; } 
}

.cloud:before {
  content: '';
  left: 50px;
}
.cloud:after {
  content: '';
  left: 25px;
  top: -10px;
}

h1{
  font-weight: bold;
}

body {
  text-align:center;
  padding:10px;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
 
 
}


/* clock */
.clock {
  width:600px;
  height:600px;
  border-radius:50%;
  background:#019CD5;
  margin:auto;
  position:relative;
  font-size: 20px;
  margin-top:30px;
}

.center {
  width:36px;
  height:36px;
  position:absolute;
  top:282px;
  left:282px;
  background:#666;
  z-index:9999;
  border-radius:50%;
}

.hours, .minutes, .seconds {
  position:absolute;
  transform-origin: left;
  text-align:right;
  text-transform:uppercase;
  height:36px;
  overflow:hidden;
  top:282px;
  left:300px;
  padding: 0 10px 0 0;
  color:white;
  border-radius: 0 3px 3px 0;
  font-weight:bold;
  transition: transform 1000ms linear;
}

.hours {
  background:#FA5B0F;
  width:250px;
  z-index:10;
}

.minutes {
  background:#A9EB5B;
  width:270px;
  z-index:20;
}

.seconds {
  background:#AFAFAF;
  width:290px;
  top:292px;
  height:16px;
  z-index:30;
}

span {
  margin:0;
  padding:0;
  height:36px;
  display:block;
  transition: none;
  max-width:100%;
}

/* Day/Night */

a{
  color: #000;
  font-size: 30px;
}

.day {
  background: url("../img/day.png") no-repeat center center fixed;
  background-size: cover;

}

.sunset {
  background: url("../img/sunset.png") no-repeat center center fixed;
  background-size: cover;
}


.night {
  background: url("../img/night.png") no-repeat center center fixed;
  background-size: cover;
}




/*media queries*/
@media screen and ( max-width: 1024px ) {
  
  .clock {
  width:600px;
  height:600px;
  border-radius:50%;
  background:#019CD5;
  margin:auto;
  position:relative;
  font-size: 20px;
  margin-top:30px;
}

.center {
  width:36px;
  height:36px;
  position:absolute;
  top:282px;
  left:282px;
  background:#666;
  z-index:9999;
  border-radius:50%;
}

.hours, .minutes, .seconds {
  position:absolute;
  transform-origin: left;
  text-align:right;
  text-transform:uppercase;
  height:36px;
  overflow:hidden;
  top:282px;
  left:300px;
  padding: 0 10px 0 0;
  color:white;
  border-radius: 0 3px 3px 0;
  font-weight:bold;
  transition: transform 1000ms linear;
}


  
} /* END OF DESKTOP */



/* TABLET */

@media screen and ( max-width: 768px ) {

 

}
/* PHONE */

@media screen and ( max-width: 480px ) {
  


} /* END OF PHONE */

